extends layout

block content  
  
  .py-5
    .container
      .row
        .col-md-4      
          form(method='get' action='/api/calendar')
            .form-group
              h5 Insert the calendar name:    
              .row
              input#calendar.form-control(type='text', placeholder='' name='id')
              .row
              br
              h5 #{info}
              .row
              button.btn.btn-info(type='submit') Save      
      