extends header

block content

  .py-5
    .container
      #user
        if user
          .row
          h5 List of calendar events
          .row
          br  
          #events
          if (events.length>0)
            table(style='width:70%', border='1')  
              tr
                th Event name:
                th Start time:
                th Finish time:
              each event in events  
                tr  
                  th #{event.title}              
                  th #{event.start_time}
                  th #{event.end_time}                                
          else
            h7 Nessun evento trovato nel calendario
        else
          .row
            .col-md-5
              h4 Login with Google+ to use the service              
              