doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='google-site-verification', content='8zeJX_FrnXZqefcXBjaFnBFQJFB7ExtnIwctdOogyZk')
  link(rel='stylesheet', href='/stylesheets/bootstrap-4.0.0-beta.1.css', type='text/css')  
  link(rel='stylesheet', href='/stylesheets/style.css')
  title
  
  
  .py-5
    .container
      .row
        .col-md-8
          ul.nav.nav-tabs
            li.nav-item
              a.active.nav-link(href='/')
                i.fa.fa-home.fa-home
                | &nbsp;Homepage
            li.nav-item
              a.nav-link(href='/api/select-calendar') Select Calendar            
            li.nav-item
              a.nav-link(href='/api/unitn') Free rooms Povo            
            li.nav-item
              a.nav-link(href='/demo') Day planner
            
            
        .col-md-4
          if(user)
            a.btn.btn-outline-primary(href='/profile/') Profile
          if(user)
            a.btn.btn-outline-primary(href='/auth/logout') Logout               
          else  
            a.btn.btn-outline-primary(href='/auth/google') Login
        

  body
    block content


