extends header

block content
  
  .py-5
    .container                 
      .row        
        h6 You can find the repo at the following link:
      .row
        a(href='https://github.com/gobberr/ISDEproject') https://github.com/gobberr/ISDEproject
      .row
  
  .py-5
    .container
      .row        
        h6 Steps:               
      .row    
        p 1.  Login using a Google Account
      .row    
        p 2.  Click on 'Select Calendar' to choose your Google Calendary and see event you have today
      .row
        p 3.  Click on 'Day Planner' and follow the instructions to get the planned day
      .row
        p 
      .row  
        p 'Free Room Povo' allows you to see the free room on Povo
      