extends header

block content
  
  .py-5
    .container                 
      .row
        
        h6 This web service offers one-day planning. 
        h6 Using the Google Calendar and EasyRoom APIs, it returns the merge of the events with the free classrooms in which to spend the free time.        
      .row
        p
        h6 You can find the repo at the following link:
      .row
        a(href='https://github.com/gobberr/ISDEproject') https://github.com/gobberr/ISDEproject
      .row
  
  .py-5
    .container
      .row        
        h6 Steps:
        p        
      .row    
        p 1.  Click on 'Select Calendar' to choose your Google Calendary
      .row
        p 2.  Click on 'Run Demo' and follow the instructions      
      .row
        p 3.  Click on 'Free Room Povo' to see the free room 
      