extends header

block content
  
  .py-5
    .container
      .row
        h1 Homepage
      .row
        br
      .row        
        p Welcome to the homepage. 
      .row      
        p This service helps you to manage your day, reporting the free room where you can spend your free time in Povo.
      .row        
        p ...