extends layout

block content
  h1= title
  .py-5
    .container
      .row
        .col-md-12
        p Welcome to the homepage. 
      .row
        .col-md-12
        p This service helps you to manage your day, reporting the free room where you can spend your free time in Povo.
      .row
        .col-md-12
        p To start, select "Run DEMO"