doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    p 
      a(href='/calendar') Run DEMO
    br
    p 
      a(href='/calendarApi') Calendar Api  
    p 
      a(href='/auleUniTN') Aule UniTN Api
    p 
      a(href='/maps') Maps Api
    p 
      a(href='/facebookEvents') Facebook Events Api    
    

  body
    block content
