extends header

block content
  
   .py-5
    .container                
      #token
        if token
          .row
          h5 Token
          .row
          br  
          h7 #{token}              
        else
          .row
            .col-md-8
              h5 See console for instruction
              
                            
              