extends header

block content
 
  .py-2
    .container
      .row
        .col-md-4
          h1 #{title}        
          br
          h5 Provider: #{user.provider}
          h5 Username: #{user.username}
          h5 E-mail: #{user.email}
