extends header

block content

  .py-5
    .container
      #user
        if user
          .row
          h5 List of UniTN rooms
          .row
          br 
          #aule
          if (aule.length>0)      
            each aula in aule
              h7 #{JSON.stringify(aula)}
          else
            h7 Nessun aula libera trovata
        else
          .row
            .col-md-4
              h4 Login with Google+ to use the service
          